---
layout: application
step: 2
title: A copule of questions about  <span class="print-householdMember2FirstName"></span>’s pregnancy.
script: |
  <script>
    $(document).ready(function() {

      $('.print-householdMember2FirstName').text(householdMember2FirstName);

      $(".usa-button-big").click(function(event) {
        event.preventDefault();

        storeData();

        window.location.href = "../03-family-member-address/person1.html";

        if (typeof householdMember3FirstName != 'undefined' ) {
          window.location.href = "person3-step1.html";
        }

        if ((typeof householdMember2CaseInsurance != 'undefined') && (householdMember2CaseInsurance == "yes")) {
          window.location.href = "person2-step3-insurance.html";
        }

      });
    });
  </script>
---

<div class="field-group">
  <fieldset>
    <div class="question">
      <legend class="question__primary-text">When is <span class="print-householdMember2FirstName"></span>'s' due date?</legend>
      <p class="question__secondary-text" id="dueHint">For example: 04 28 1986</p>
    </div>
    <div class="response" >
      <div class="error-placeholder"></div>
      <div class="usa-date-of-birth">
        <div class="usa-form-group usa-form-group-month">
          <label for="householdMember1DueMonth">Month</label>
          <input class="usa-input-inline auto-advance" aria-describedby="dueHint" id="householdMember1DueMonth" name="householdMember1DueMonth" {% include _valid_month.html %} required>
        </div>
        <div class="usa-form-group usa-form-group-day">
          <label for="householdMember1DueDay">Day</label>
          <input class="usa-input-inline auto-advance" aria-describedby="dueHint" id="householdMember1DueDay" name="householdMember1DueDay" {% include _valid_day.html %} required>
        </div>
        <div class="usa-form-group usa-form-group-year">
          <label for="householdMember1DueYear">Year</label>
          <input class="usa-input-inline auto-advance-4" aria-describedby="dueHint" id="householdMember1DueYear" name="householdMember1DueYear" {% include _valid_year.html %} required>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="field-group">
  <div class="question">
    <p class="question__primary-text"><label for="householdMember1BabiesExpected">How many babies is <span class="print-householdMember2FirstName"></span> expecting?</label></p>
  </div>
  <div class="response">
    <input class="input--short" id="householdMember2BabiesExpected" {% include _valid_babies.html %} required />
  </div>
</div>
