<!-- _includes/base.html -->
{% assign base = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth <= 1 %}{% assign base = '.' %}
{% elsif depth == 2 %}{% assign base = '..' %}
{% elsif depth == 3 %}{% assign base = '../..' %}
{% elsif depth == 4 %}{% assign base = '../../..' %}{% endif %}

<div class="usa-disclaimer">
  <div class="usa-disclaimer-official">
    <p>This site is a demo and is not a real application. <a href="{{ base }}">Learn more</a>.</p>
  </div>
</div>

<header class="application-header">
  <h1 class="application-header__primary-heading"><a href="{{ site.baseurl }}/welcome.html">Benefits application demo</a></h1>
</header>
