<title>Benefits Enrollment Application</title>
<meta name="viewport" content="width=device-width">

{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/application.css">
<script src="{{ relative }}assets/jquery.js"></script>
<script src="{{ relative }}assets/prep-storage.js"></script>
<script src="{{ relative }}assets/scripts.js"></script>
<script src="{{ relative }}assets/session-storage.js"></script>

<meta name="robots" content="noindex">
