legend {
	font-size: 1em;
	font-weight: $font-normal
}

input.input--short {
	width: 25%;
}

input.input--medium {
	width: 50%;
}

input.contains-error {
	border: 3px solid $color-secondary-dark;
}

label.contains-error,
.form-feedback--error {
	color: $color-secondary-dark;
}

// Hide Spinners on Number inputs
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}